:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 1px;
}

img {
	display: block;
	width: 100%;
}

ul {
	list-style: none;

}

/* body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
} */